@import url(https://fonts.googleapis.com/css?family=Noto+Sans);

*, *::before, *::after {
  box-sizing: border-box;
}

.toppingsContainer {
  font: 1em 'Arial', sans-serif;
  position: relative;
  left: 0%;
  /* transform: translate(-50%, -50%);   */
}

input {
  position: absolute;
  left: -9999px;
}

label {
  position: relative;
  margin: 6px;
  left: 5%;
  padding: 5px 5px 5px 10px;
  border: 2px solid #fff;
  border-radius: 6px;
  color: #fff;
  background-color: #6a8494;
  box-shadow: 0 0 20px rgba(0, 0, 0, .2);
  white-space: nowrap;
  cursor: pointer;
  user-select: none;
  transition: background-color .2s, box-shadow .2s;
}

label::before {
  content: '';
  display: block;
  position: absolute;
  border-radius: 100px;
  transition: background-color .2s;
}


/* 
label:first-of-type {
  transform: translateX(-40px);
} */
/* 
label:last-of-type {
  transform: translateX(40px);
} */

label:hover, input:focus + label {
  box-shadow: 0 0 20px rgba(0, 0, 0, .6);
}

input:checked + label {
  background-color: #ab576c;
}

input:checked + label::before {
  background-color: #fff;
}