@import url(https://fonts.googleapis.com/css?family=Noto+Sans);

body {
    background-image: url("parallax1.jpg");
    background-repeat: no-repeat;
}

*, *::before, *::after {
  box-sizing: border-box;
}

.button{
	background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
}

.button1 {
    background-color: white; 
    color: black; 
    border: 2px solid #4CAF50;
}

.button1:hover {
    background-color: #4CAF50;
    color: white;
	font-size: 120%;
}

.button3 {
    background-color: white; 
    color: black; 
    border: 4px solid #f44336;
}

.button3:hover {
    background-color: #f44336;
    color: white;
	font-size: 120%;
}

.inputAdmin {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    background-color: #3CBC8D;
    color: white;
}

.toppingsContainer {
  font: 1em 'Arial', sans-serif;
  position: relative;
  left: 0%;
  /* transform: translate(-50%, -50%);   */
}

input[type=checkbox] {
  position: absolute;
  left: -9999px;
}

input[type=radio] {
  position: absolute;
  left: -9999px;
}

label {
  position: relative;
  margin: 6px;

  left: 5%;
  padding: 5px 5px 5px 10px;
  border: 2px solid #fff;
  border-radius: 6px;
  color: #fff;
  background-color: #6a8494;
  box-shadow: 0 0 20px rgba(0, 0, 0, .2);
  white-space: nowrap;
  cursor: pointer;
  user-select: none;
  transition: background-color .2s, box-shadow .2s;
}

label::before {
  content: '';
  display: block;
  position: absolute;
  border-radius: 100px;
  transition: background-color .2s;
}

label:hover, input:focus + label {
  box-shadow: 0 0 20px rgba(0, 0, 0, .6);
  font-size: 120%;
}

input:checked + label {
  background-color: #4CAF50;
  font-size: 120%;
}

input:checked + label::before {
  background-color: #fff;
  font-size: 120%;
}